.DS_Store
Thumbs.db
wp-cli.local.yml
!dist
*/dist
bower_components
node_modules
npm-debug.log
vendor
*.sql
*.tar.gz
*.zip
.env
id_rsa
id_rsa.pub
wordpress/config/*
!wordpress/config/.env.example
!wordpress/config/composer.json
wordpress/app/*
wordpress/app/plugins/*
wordpress/app/themes/*
wordpress/app/my-plugins/*
*.sublime-project
*.sublime-workspace